h1 {
    color:rgb(205, 199, 143)
}

.sucesso {
    color: green
}

.erro {
    color: red
}

.escondido {
    visibility: hidden;
}

.bt-escondido {
background-color: grey;

}

.bt-mostrar {
    background-color: rgb(218, 0, 0);
    
    }


